<div class="main-container-content-article-small">
  <a href="#"><img src="/public/img/mainContent/visasNu.jpg" /></a>
</div>
<div class="main-container-content-movie-availablenow container-single-movie">
  <h2 class="movie-title">{{movie.attributes.title}}</h2>
  <div class="movie-intro">{{#markdown
      movie.attributes.intro
    }}{{/markdown}}
    <div class="movieRating">
      <
    </div>
     </div>


  <img class="movie-poster" src="{{movie.attributes.image.url}}" />
  <div id="review-post-section"></div>
  <div id="review-comment-section"> </div>
  <div id="review-btn-section"> </div>
</div>