<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Kino Luleå</title>
  </head>

  <body>
    <header>
        <!-- Logo image -->
        <div id="header-logo-container">
          <a href="/"><img src="/public/img/logo.png" alt="logo image" /></a>
        </div>

      <nav>
        <!-- Navigation menu -->
        <ul class="utilites-header">
          <li> <a href="#"> sign in</a></li>
        </ul>
        {{!-- page-navigation --}}
        <ul class="page-navigation-header">
          <li class="menu-dropdown">
            <a class="menu-link" href="/movies">FILMER</a>
          </li>

          <li class="menu-dropdown">
            <a class="menu-link" href="#">LIVE PÅ BIO</a>
          </li>

          <li class="menu-dropdown">
            <a class="menu-link" href="#">BARNBIO</a>
          </li>

          <li class="menu-dropdown">
            <a class="menu-link" href="#">EVENEMANG</a>
          </li>

          <li class="menu-dropdown">
            <a class="menu-link" href="#">BILJETTER</a>
          </li>

          <li class="menu-dropdown">
            <a class="menu-link" href="#">OM OSS</a>
          </li>

          <li class="menu-dropdown">
            <a class="menu-link" href="#">IN ENGLISH</a>
          </li>
        </ul>
        {{!-- breadcrums --}}
        <ul class="breadcrums-header">
          
        </ul>
      </nav>

        <!-- Movie advert -->
    </header>


    <main>
      <!-- Middle - Main content -->
      <div class="main-container">

        {{{body}}}

      </div>
      <!-- Right sidebar -->
      <div class="right-container">
        <div class="right-container-content-article-small">
          <a href="#"><img src="/public/img/rightContent/biljetter.jpg" /></a>
        </div>
        <div class="right-container-content-search">
          <input type="search" name="search" id="content-search" />
        </div>
        <div class="right-container-content-calendar">
        </div>
      </div>
      
    </main>

    <!-- Footer -->
    <footer>
      <p>This is a footer</p>
    </footer>
    <script type="module" src="/public/js/script.js"></script>
  </body>
</html>