<div class="main-container-content-article-small">
  <a href="#"><img src="/public/img/mainContent/kommerSnart.jpg" /></a>
</div>
<div class="main-container-content-movie-comingsoon">
  <a href="#"><img src="/public/img/mainContent/inIDimman.jpg" /></a>
</div>
<div class="main-container-content-movie-comingsoon">
  <a href="#"><img src="/public/img/mainContent/lillaMamma.jpg" /></a>
</div>
<div class="main-container-content-movie-comingsoon">
  <a href="#"><img src="/public/img/mainContent/annette.jpg" /></a>
</div>
<div class="main-container-content-article-small">
  <a href="#"><img src="/public/img/mainContent/visasNu.jpg" /></a>
</div>
<div class="main-container-content-movie-availablenow">
  <a href="#"><img src="/public/img/mainContent/inIDimman.jpg" /></a>
</div>
<div class="main-container-content-movie-availablenow">
  <a href="#"><img src="/public/img/mainContent/fromTheWildSea.jpg" /></a>
</div>
<div class="main-container-content-movie-availablenow">
  <a href="#"><img src="/public/img/mainContent/martinEden.jpg" /></a>
</div>