<div class="main-container-content-article-small">
  <a href="#"><img src="/public/img/mainContent/visasNu.jpg" /></a>
</div>
{{#each movies}}
  <div class="main-container-content-movie-availablenow">
    <a href="/movies/{{id}}" class="movies-link"><h2
      >{{attributes.title}}</h2></a>
  </div>
{{/each}}