@import "./Values/color";

footer {
  bottom: 0;
  background-color: $main-color;
  height: 20vh;

  padding: 0 10%;
}

.bingo {
    margin: 0;
    list-style-type: none;             
    a {
         text-decoration:none;
        
          color:white;
          display: inline-table;
       }
}
