@import "./Values/sizes";
@import "./Values/color";
@import "./Values/font-sizes";

header {
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10vh;
  padding: 0 10%;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    width: 60%;
  }
}

header nav {
  .utilites-header {
    display: flex;
    justify-content: flex-end;

    margin-bottom: 10px;
    li {
      display: flex;
      align-items: center;
      color: rgb(216, 216, 216);
      list-style: none;
      width: fit-content;
    }
    li a {
      height: 100%;
      width: 100%;
      color: inherit;
      text-decoration: none;

      font-size: $nav-font-utilites;
      font-weight: lighter;
    }
  }
}

header nav {
  .page-navigation-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;

    width: 100%;
    height: 25%;

    li {
      display: flex;
      align-items: center;
      color: white;
      list-style: none;
      width: fit-content;
    }

    li a {
      height: 100%;
      width: 100%;
      color: inherit;
      text-decoration: none;
      font-size: $nav-font-normal;
    }
  }
}

// header nav {
//   .breadcrums-header {
//   }
// }

#header-logo-container {
  width: 20%;

  a,
  a img {
    width: 100%;
  }
}

