@import "./Values/sizes";

main {
  background-color: $main-bg-color;
  display: flex;
  justify-content: space-between;

  width: 100%;
  min-height: 75vh;
  padding: 20px 10%;
}



.main-container {
  img {
    &:hover {
      opacity: 0.7;
    }
  }
  @media screen and (max-width: $desktop) {
    max-width: 100%;
    img {
      object-fit: contain;
      width: 100%;
    }
  }
}

.main-container-reviewform {
  background-color: white;
  height: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  h1 {
    width: 100%;
    margin-left: 1rem;
    order: 1;
  }
  input {
    height: 2rem;
    order: 2;
  }
  select {
    height: 2rem;
    order: 3;
  }
  button {
    height: 2rem;
    order: 4;
  }
}


// .main-container-content-article-large {
//   margin-bottom: 13px;
//   width: $main-content-size;

//   @media screen and (max-width: $tablet) {
//     width: 100%;
//   }
// }

// .main-container-content-movie-comingsoon {
//   margin-bottom: 13px;
//   width: $main-content-size;

//   @media screen and (max-width: $tablet) {
//     width: 100%;
//   }
// }

// .main-container-content-movie-availablenow {
//   margin-bottom: 13px;
//   width: $main-content-size;

//   @media screen and (max-width: $tablet) {
//     width: 100%;
//   }
// }
