@import "./Values/sizes";
@import "./Values/font-sizes";
@import "./Values/color";

.container-single-movie {
  display: flex;
  flex-direction: column;
  // align-items: center;

  background-color: $main-bg-color;
  width: $main-content-size;
}

.movie-info-container {
  .movie-poster {
    max-width: $main-content-size;
    width: 300px;
    // width: 100%;
  }

  display: flex;
  height: 400px;

  div.text-container {
    padding: 0 25px;

    .movie-title {
      font-size: 2rem;
      margin: 0;
      padding: 1rem 0;
    }

    .movie-intro {
      font-size: $normal-font;
      width: 450px;

      p {
        padding: 0 0 15px 0;
      }
    }
  }
  margin-bottom: 20px;
}

#review-comment-section {
  width: 100%;
  padding: 0 10px;
  article {
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
    padding: 10px;
    .review-commenet-header {
      display: flex;
      justify-content: space-between;
      padding-right: 10px;
      b {
        font-size: 16px;
      }
      i {
        font-size: 14px;
        &::before {
          font-weight: bold;
          content: "Rating: ";
        }
      }
    }

    p {
      font-size: 14px;
    }
  }
}

#review-btn-section {
  display: flex;
  justify-content: center;

  padding: 15px 0;

  button {
    margin: 0 2.5px;
  }
}
