@import "./Values/sizes";

.right-container {
  width: 315px;
  @media screen and (max-width: $desktop) {
    display: none;
  }
}

.right-container-content-article-small {
  margin-bottom: 13px;
  width: 315px;
}

.right-container-content-search input {
  margin-bottom: 13px;
  width: 315px;
  height: 33px;
}

.right-container-content-calendar {
  margin-bottom: 13px;
  width: 315px;
  background-color: #f5f5f5;

  div {
    margin: 0 0 0 6px;
    padding: 4px 0;

    h2 {
      margin: 0;
      text-decoration: underline;
      text-align: center;
    }
  }
}
