@import "./header";
@import "./mainContent";
@import "./rightContent";
@import "./footer";
@import "./movies";
@import "./movie";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background: linear-gradient(
    347deg,
    rgba(0, 164, 202, 1) 0%,
    rgba(255, 199, 88, 1) 19%,
    rgba(0, 182, 162, 1) 100%
  );
  font-family: "Source Sans Pro", sans-serif;
}
